torch==1.13.1+cu117
torch-geometric==2.2.0
torchvision==0.14.1+cu117
torchaudio==0.13.1
numpy==1.21.0
scikit-learn==0.24.2
matplotlib==3.4.3
pandas==1.2.5
tqdm==4.61.1
easydict
opencv-python
torchsummary
tensorboard
wget
